
{% extends "base.html" %}

{% block h1title %}Blog{% endblock %}

{% block subtitle %}A Blog About Dev Stuff{% endblock %}

    <!-- Main Content-->
{% block maincontent %}

    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    {% for blog_post in posts: %}
                        <div class="post-preview">
                            <a href="{{url_for('post_page', post_id=blog_post['id'])}}">
                                <h2 class="post-title">{{blog_post.title}}</h2>
                                <h3 class="post-subtitle">{{blog_post.subtitle}}</h3>
<!--                                <a href="{{url_for('post_page', post_id=blog_post['id'])}}">Read &raquo;</a>-->
                            </a>
                            <p class="post-meta">
                            Posted by <a href="#!">{{blog_post.author}}</a> on {{blog_post.date}} <a href="{{url_for('delete_post', post_id=blog_post.id)}}">✘</a>
                            </p>
                        </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    {% endfor %}

                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Pager-->
<!--                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary float-right text-uppercase" href="{{url_for('new_post')}}">Create New Post</a></div>
                </div>
            </div>

        </div>
    </main>


{% endblock %}