
{% extends "base.html" %}

{% block h1title %}Login{% endblock %}

{% block subtitle %}Success!{% endblock %}

    <!-- Main Content-->
{% block maincontent %}

    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <h3>user: {{username}}</h3>
                    <h3>password: {{password}}</h3>

                    <p>Good job!, you successful "logged in" ;) ;)</p>

                </div>
            </div>
        </div>
    </main>


{% endblock %}